---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div style="padding: 0px ;">
    <div style="float:left;">
      <img src="/images/OIG1.jpeg" height="150" width="150" alt="Olimnisa Logo" />
    </div>
    <div style="float:right;margin-top: 20%;">
      <h1>Olimnisa</h1>
    </div>

 </div>
</span>
